body {
    font-family: "Bitter";
}

* {
    margin: 0;
    padding: 0;
}

/* MENU NAVBAR */
nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0 100px;
}

nav .logo {
    font-size: 28px;
    color: black;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: whitesmoke;
}

nav .menu-btn {
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}
/* MENU NAVBAR */

@media (max-width: 940px) {
    /* MENU NAVBAR */
    nav .menu-btn {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #menu:checked ~ ul{
        left: 0%;
    }

    nav ul li {
        margin: 40px 0;
        display: block;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav ul li a:hover {
        color: cornflowerblue;
        background: none;
    }
    /* MENU NAVBAR */

    .section-team{
        border-top: 1px solid #a70ae6;
        border-bottom: 1px solid #a70ae6;
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .team-list{
        float:left;
        padding: 15px;
    }

    h3{
        margin: 0 20px;
    }
}

.section-team {
    border-top: 2px solid #a70ae6;
    border-bottom: 2px solid #a70ae6;
    font-size: 28px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
}

h3{
    margin: 0 30px;
}

.team-list{
    float:left;
    padding: 20px;
}

.team-list p {
    text-align: center;
}

img {
    border-radius: 20px;
}

