body {
    font-family: "Bitter";
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* MENU NAVBAR */
nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0 100px;
}

nav .logo {
    font-size: 28px;
    color: black;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: whitesmoke;
}

nav .menu-btn {
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}
/* MENU NAVBAR */


/* BANNER  */

.banner
{
    background-image: linear-gradient(to right, #051937, #18193c, #29173e, #39133d, #480c39);
    box-sizing : border-box;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 570px;
    padding: 50px;
}

.banner h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 50px;
}

.banner p
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 30px;
    padding: 40px;
}



/* FOOTER */
footer .container{
	max-width: 1170px;
	margin:auto;
}

footer .row{
	display: flex;
	flex-wrap: wrap;
}

footer ul{
	list-style: none;
}

footer {
	background-color: #24262b;
    padding: 70px 0;
}

footer .footer-col{
   width: 25%;
   padding: 0 15px;
}

footer .footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

footer .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: red;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

footer .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	font-weight: 300;
	color: gray;
	display: block;
	transition: all 0.3s ease;
}

footer .footer-col ul li a:hover{
	color: white;
	padding-left: 8px;
}
/* FOOTER */

/* ABOUT */
.about h2 {
  border-top: 2px solid #a70ae6;
  border-bottom: 2px solid #a70ae6;
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 32px;
  padding: 15px;
  padding-left: 30px;
}
.about p {
  font-size: 20px;
  text-align: center;
  margin: 0 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
/* ABOUT */

/* TEAM */
.list {
    display: flex;
    justify-content: center;
}

.section-team {
    border-top: 2px solid #a70ae6;
    border-bottom: 2px solid #a70ae6;
    font-size: 28px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
}

h3{
    margin: 0 30px;
}

.team-list{
    float: left;
    padding: 20px;
}

.team-list p {
    padding: 20px;
    text-align: center;
}

.team img {
    border-radius: 20px;
}
/* TEAM */


/*CONTACT*/
	.contact h2{
	border-top: 2px solid #a70ae6;
	border-bottom: 2px solid #a70ae6;
	margin-bottom: 15px;
	margin-top: 30px;
	font-size: 32px;
	padding: 15px;
	padding-left: 30px;
	}
	
	
	input, textarea {
	width: 400px;
	margin-left : 30px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 20px;
	font-size: 18px;
	border: 1px solid #222f3e;
}

	.contact p {
		margin-top: 20px;
		margin-left : 30px;
	}

	.contact contact-submit {
	background-color: #222f3e;
	color: #f1f2f6;
	}
/*CONTACT*/


@media (max-width: 940px) {
    /* MENU NAVBAR */
    nav .menu-btn {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #menu:checked ~ ul{
        left: 0%;
    }

    nav ul li {
        margin: 40px 0;
        display: block;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav ul li a:hover {
        color: cornflowerblue;
        background: none;
    }
    /* MENU NAVBAR */
	
	
    /* TEAM */
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-list{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .team h3{
        margin: 0 20px;
    }

    .team img {
        border-radius: 20px;
    }

    .team p {
        font-size: 32px;
        font-weight: bold;
    }
    /* TEAM */
}

@media(max-width: 767px){
    footer .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    footer .footer-col{
        width: 100%;
    }

    .banner
    {
        box-sizing: border-box;
        width: 100%;
        height: 20%;
    }

    .banner h1
    {
        /* font-size: 0.5rem; */
        margin: 0;
    }
    
    .banner p
    {
        font-size: 0.9 rem;
        padding: 10px;
    }
}
